body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: orange;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.outer-container {
    width: 100%; /* Ensure the outer container takes up the full width */
    /*max-width: 1200px;*/ /* Optionally, set a maximum width */
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: 100vh; /* Ensure container doesn't exceed viewport height */
    padding: 200px;
    box-sizing: border-box;
}

.inner-container {
    text-align: center;
    height: 100%; /* Ensure the inner container takes up the full height */
    box-sizing: border-box;
}

.outer-container::-webkit-scrollbar {
    width: 10px;
}

.outer-container::-webkit-scrollbar-track {
    background: transparent;
}

.outer-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.outer-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Add space at the top of the scrollbar */
.outer-container::-webkit-scrollbar-button:single-button:vertical:decrement {
    height: 16px;
    background: transparent;
    display: block;
}

/* Add space at the bottom of the scrollbar */
/*.outer-container::-webkit-scrollbar-button:single-button:vertical:increment {
    height: 1px;
    background: transparent;
    display: block;
}*/

#wheel {
    border: 5px solid #333;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: white;
}

#spin-btn, #reset-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#segment-input {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
}

#segment-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

#segment-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-top: 5px;
}

#segment-list li button {
    background-color: #ff4d4d;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}
