body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: orange;
    font-family: Arial, sans-serif;
    overflow: auto;
    margin: 0;
    padding: 0;
}

.outer-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px; /* Optionally, set a maximum width */
    padding: 0;
    box-sizing: border-box;
}

.inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 0;
}

#wheel-display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 0;
}

#wheel {
    border: 5px solid #333;
    border-radius: 50%;
    margin-bottom: 5px;
    background-color: #333;
}

#winning-names {
    margin-left: 0;
    flex: 0 0 200px; /* Set fixed width */
    border: 2px solid #333;
    border-radius: 15px;
    padding: 5px;
    background-color: transparent;
}

#winning-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

#wheel-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 0;
}

#spin-btn, #reset-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#segment-input {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
}

#segment-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

#segment-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-top: 5px;
}

#segment-list li button {
    background-color: #ff4d4d;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.underline {
    text-decoration: underline;
}
